.topic-item-card {
  flex: 1;
  background-color: #fff;
}
.topic-item-img {
  width: 100%;
  height: 300px;
}
.topic-item-body {
  padding: 16px;
}
.topic-item-title {
  font-size: 16px;
  font-weight: 500;
}
.topic-item-desc {
  font-size: 14px;
  line-height: 20px;
}
.topic-item-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.topic-item-btn {
  display: flex;
  align-items: center;
  background-color: #0d6efd;
  height: 40px;
  border: 0;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
}

.topic-item-btn span {
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
}